.container{
    width: 50%;
    margin: auto;
    background-color: aliceblue;
}
.search-box{
    width: 70%;
    height: 2.5rem;
    border-radius: 10px;
    margin: 10px;
}
h1{
    text-align: center;
}
.flex{
    display :flex;
}
button{
    background-color: grey;
    color: white;
    padding:0.4rem 1rem ;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 20px;
    margin: 5px;
}
li{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}